table {
    width: 100%;
}

td {
    border: 1px solid #ddd;
    padding: 8px;
    user-select: none;
    text-align: left;
}

tr:nth-child(even) {
    background-color: #f2f2f2;
}

td:hover {
    background-color: #ddd;
}

th {
    padding: 2vh;
    text-align: center;
    background-color: #242526;
    color: white;
    user-select: none;
}